<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <h1>생성하는곳</h1>
    <form action="{% url 'board:add' %}" method="POST">
        {% csrf_token %}
        Title : <input type="text" name="title" ><br>
        Writer : <input type="text" name="writer"><br>
        Content : <input type="text" name="content"><br>
        <input type="submit" value="등록">
    </form>
</body>
</html>