<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
{% if list_all %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">작성자</th>
                    <th scope="col">제목</th>
                    <th scope="col">조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for list in list_all %}
                <tr>
                   <td>{{ list.id }} </td>
                   <td><a href="{% url 'board:detail' list.id %}" >{{ list.title }}</a></td>
                   <td> ({{ list.writer }})</td>
                   <td> {{list.readcount}}</td>
                  
                    
                </tr>
                {% endfor %}              
            </tbody>
        </table>
{% else %}
    목록이 존재하지 않습니다.<br>
{% endif %}
    <button><a href="{% url 'board:add' %}">글등록</a></button>
    <button><a href="{% url 'board:index' %}">처음으로</a></button>
</body>
</html>



