<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <h1>수정하는곳</h1>
    <form action="{% url 'board:update' list_id.id %}" method="POST">
        {% csrf_token %}
        title : <input type="text" name="title" ><br>
        writer : <input type="text" name="writer"><br>
        content : <input type="text" name="content"><br>
        <input type="submit" value="수정">
    </form>
</body>
</html>